  		/* GENERAL */
  		.container-fluid {
  			padding-top: 70px;
  			padding-bottom: 70px;
  		}
  		body {
  			font: 20px "Montserrat", sans-serif;
  			line-height: 1.8;
  			color: #f5f6f7;
  		}
  		p {
  			font-size: 16px;
  		}
  		.margin {
  			margin-bottom: 45px;
  		}

  		/* NAVIGATION */
  		.navbar {
  			padding-top: 15px;
  			padding-bottom: 15px;
  			border: 0;
  			border-radius: 0;
  			margin-bottom: 0;
  			font-size: 12px;
  			letter-spacing: 5px
  		}

  		.navbar-nav li a:hover {
  			color: #1abc9c !important;
  		}


  		/* BANNER */
  		.bg-1 {
  			background-color: #008B8B; /* Teal */
  			color : #ffffff;
  		}

  		/* MAIN */
  		.bg-2 {
  			background-color: #5f9ea0; /* Cadet Blue */
  			color: #ffffff;
  		}

  		/* ARTICLE */
  		.bg-3 {
  			background-color: #ffffff; /* White */
  			color: #555555;
  		}

  		/* FOOTER */
  		.bg-4 {
  			background-color: #5f9ea0; /* cadet blue */
  			color: #ffffff;
  		}

      li {
        list-style: none;
      }
      
      .footer li a {
        color: #ffffff;
        font-size: 12px;
      }
      .footer li a:hover {
        color: #7fffd4;
        font-size: 14px;
      }